:root {
  --color: rgba(227, 197, 0, 0.908);
  --bg: linear-gradient(
    190deg,
    rgba(36, 65, 212, 1) 0%,
    rgba(0, 14, 94, 1) 69%
  );
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}
body {
  font-family: "poppins", sans-serif;
  background: var(--bg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: rgb(10, 8, 8);
}
/* Nav-bar */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 7%;
  background-color: rgb(0, 0, 13, 9, 0.8);
  border-bottom: 1px solid rgb(149, 208, 242);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}
.nav .nav-logo {
  font-size: 2rem;
  font-weight: 700;
  color: white;
}
.nav .nav-logo span {
  color: var(--color);
}
.nav .nav-nafigasi {
  color: white;
}
